/* =====================================================================
   style
   ===================================================================== */


/* ---------------------------------------------------------------------
   fonts, link appearance,...
   --------------------------------------------------------------------- */
BODY{
   FONT-FAMILY: Verdana,Helvetica;
   FONT-SIZE:12px;
   height:100%;
   background-color:white;
 }

TD {
  FONT-FAMILY:Verdana,HelveticaVerdana,Helvetica;
  FONT-SIZE:12px;
}

a:link {
  BACKGROUND: none;
  COLOR:#336699;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none;
}

a:visited {
  BACKGROUND: none;
  COLOR: #336699;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: none;
}

a:link:hover, a:visited:hover {
  BACKGROUND: none;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: underline;
}

a:link:active, a:visited:active {
  BACKGROUND: none;
  COLOR: red;
  FONT-FAMILY: Verdana, Helvetica;
  TEXT-DECORATION: underline;
}

#logo {
        position:absolute;
        left: 8px;
        top: 26px;
}
/* ---------------------------------------------------------------------
   END fonts,...
   --------------------------------------------------------------------- */


/* ---------------------------------------------------------------------
   HEADER
   --------------------------------------------------------------------- */
#header{
	position:absolute;
	left: 0px;
	top:  0px;
	height: 99px;
	width: 100%;
        background-color: #eff1f5;
	background-image: url("images/leftwave.png");
	background-position: bottom left;
	background-repeat: no-repeat;
}

#header-rightwave-background{
        height  : 100%;
        width   : 100%;
        background-image: url("images/rightwave.png");
        background-repeat: no-repeat;
        background-position: bottom right;
}

#header #site-info{ 
        color:#FFFFFF;
        position: absolute;
        right: 0px;
        bottom: 0px;
        text-align: right;
        margin-bottom:3px;
        margin-right:13px;
        font-size:medium;
	font-weight:bold;
	list-style-type:none;
}
/* ---------------------------------------------------------------------
   END HEADER
   --------------------------------------------------------------------- */



/* ---------------------------------------------------------------------
   LISTS
   --------------------------------------------------------------------- */
ul{
	list-style-type: disc;
}
/* ---------------------------------------------------------------------
   END LISTS
  --------------------------------------------------------------------- */



/* ---------------------------------------------------------------------
   TOP BAR
   --------------------------------------------------------------------- */
#topbar
{
      position:absolute;
      left: 0px;
      top:  99px; /* start right beneath the big header */
      height: 16px;
      width: 100%;
      background-color:#a31c38;
      text-align:right;
}

#topbar ul{
      padding-right: 12px;
      float:right;
}

#topbar ul li{
	display:inline;
}

/* only display the first list */
#topbar ul li ul{
	display:none;
}

#topbar li:BEFORE{
	content: " | ";
	color:#fff;
}
#topbar li.first:BEFORE{
	content: "";
}

#topbar li{
	padding:0;
}

#topbar a{
	color:#fff;
}

#topbar a.active{
	font-weight:normal;
}

#topbar .block-region{
	margin-top:0;
	margin-bottom:0;
	padding:0 10px;
}
/* ---------------------------------------------------------------------
   END TOP BAR
   --------------------------------------------------------------------- */



/* ---------------------------------------------------------------------
   SECONDARY LINKS
   --------------------------------------------------------------------- */
.secondary-links{
	font-size:11px;
	position:absolute;
        right:4px;
        top:1px;
        margin: 0px;
        padding: 0px;
	display: inline;
}

.secondary-links.links li {
	padding: 0px;
}

.secondary-links li:after {
	content:" |"
}
.secondary-links li.last:after {
	content:""
}

.secondary-links a{
	color:black;
}

.secondary-links a:hover{
	 text-decoration:none;
}
/* ---------------------------------------------------------------------
   SECONDARY LINKS
   --------------------------------------------------------------------- */


/* ---------------------------------------------------------------------
   CONTENT
   --------------------------------------------------------------------- */
#content
{
	margin-left:218px;
	margin-top:122px;
	margin-right:215px;
}
/* ---------------------------------------------------------------------
   END CONTENT
   --------------------------------------------------------------------- */


.breadcrumb /* The path to the current page in the form of a list of links */
{
    padding-bottom: 0; /* Undo system.css */
        position:absolute;
        top:115px;
        left:0px;
        text-align:left;
        padding-left:10px;
        FONT-SIZE:12px;
        background-color:#dae3e9;
        COLOR: #003366;
        FONT-FAMILY: Verdana, Helvetica;
        TEXT-DECORATION: none;

        height:16px;
        padding-right:104px; /*width of the right extender*/
        background-image: url('images/breadcrumb-extension.png');
        background-repeat: no-repeat;
        background-position: 100% 0;
}


/* ---------------------------------------------------------------------
   HEADLINES
   --------------------------------------------------------------------- */
#content h1,
#content h2,
#content h3,
#content h4,
#content h5{
	color:#78032F;
	font-family:Verdana,HelveticaVerdana,Helvetica;
	font-size:14px;
	clear: both; /* allow no floats to the left and to the right */
	padding-top:20px;
}
#content .title{
        padding-top:0px;
}
/* ---------------------------------------------------------------------
   END HEADLINES
   --------------------------------------------------------------------- */



/* ---------------------------------------------------------------------
   SIDEBAR LEFT
   --------------------------------------------------------------------- */
#sidebar-left{
	position:absolute;
	top:140px;
	left:0px;
	width:216px;
	padding-bottom:16px;
}

#sidebar-left-inner{
      margin:0px 0px 42px 6px;
}

#sidebar-left-topright-extender{
        background-image: url('images/top-right.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-color:#DAE3E9;
}

#sidebar-left-bottomright-extender{
        background-image: url('images/bottom-right.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        padding-top:13px;
        padding-bottom:13px;
}

#sidebar-left h2{
	margin-top:4px;
	margin-bottom:11px;
	font-size:12px;
	font-weight:bold;
	color:#003366;
}

#sidebar-left .block{
	padding-left:0pt;
	padding-top:0pt;
	margin-bottom:30px;
}


#sidebar-left ul{
	padding-top:4pt;
	padding-left:4px;
}

#sidebar-left li{
    list-style:none;
    margin: 0pt 0pt 4pt 0pt;
}

.breadcrumb A:link, .breadcrumb A:visited, #sidebar-left a, #sidebar-left a.active,#sidebar-left A:visited
{
    BACKGROUND: none;
    COLOR:#003366;
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none;
}

#sidebar-left A:hover, .breadcrumb A:hover
{
    BACKGROUND: none;
    COLOR: #ff0000;
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: underline;
}

#sidebar-left a.active{
        font-weight:bold;
}
/* ---------------------------------------------------------------------
   END SIDEBAR LEFT
   --------------------------------------------------------------------- */


/* ---------------------------------------------------------------------
   SIDEBAR RIGHT
   --------------------------------------------------------------------- */
#sidebar-right{
	position:absolute;
	top:150px;
	right:20px;
	width:193px;
}

#site-logo{
	width:193px;
}
/* ---------------------------------------------------------------------
   END SIDEBAR RIGHT
   --------------------------------------------------------------------- */


/* ---------------------------------------------------------------------
   FOOTER
   --------------------------------------------------------------------- */
#footer{
	padding-top:20px;
}
#footer-message{
	text-align:center;
	font-size:smaller;
}
/* ---------------------------------------------------------------------
   END FOOTER
   --------------------------------------------------------------------- */


/* ---------------------------------------------------------------------
   FORUM
   Compare to Bluemarine theme.
   --------------------------------------------------------------------- */
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
/* ---------------------------------------------------------------------
   END FORUM
   --------------------------------------------------------------------- */



/* ---------------------------------------------------------------------
   COMMENTS
   --------------------------------------------------------------------- */
.comment {
  border: 1px solid #888;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .links {
  margin-bottom: 0;
}
.comment .content {
  line-height: 1.4em;
  margin: .5em 0 .5em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #888;
  float: right; /* LTR */
  margin: 0.5em;
}
#content .comment h3{
  padding-top:0;
}
/* ---------------------------------------------------------------------
   END COMMENTS
   --------------------------------------------------------------------- */

/* =====================================================================
   END style
   ===================================================================== */
